@import url("./logo-load.css");

:root {
    --bg-color-light: rgba(229, 229, 229, 1);
    --bg-color-dark: rgba(35, 35, 35, 1);

    --text-color-light: rgba(35, 35, 35, 1);
    --text-color-dark: rgba(229, 229, 229, 1);

    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: light-dark(var(--bg-color-light), var(--bg-color-dark));
    /* overflow-x: hidden; */
}

.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.wpp_link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wpp_link > p {
    font-size: 2rem;
    color: light-dark(var(--text-color-light), var(--text-color-dark));;
    transition: all .6s ease-in-out;
    margin: 2rem;
}

.link_tn {
    width: 40dvw;
    /* Square-shaped radial gradient mask */
  -webkit-mask-image: radial-gradient(
    closest-side at center,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: center;

  mask-image: radial-gradient(
    closest-side at center,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-position: center;

  transition: all .6s ease-in-out;
}

.wpp_link:hover .link_tn {
    width: 45dvw;
}
.wpp_link:hover p {
    font-size: 2.2rem;
}

.logo-container {
    width: 40dvw;
    margin: 2rem 30dvw;
}

@media (orientation: landscape) {
    .logo-container {
        height: 30dvh;
        width: auto;
        margin: 2rem 2rem;
    }

    .wpp_link > p {
        font-size: 6rem;
    }
    .wpp_link:hover p {
        font-size: 6.6rem;
    }
}