:root {
  --langScrollWidth: -100rem;
  --softScrollWidth: -100rem;
  --scrollAnimationTime: 5s;
}

.skills {
    width: 100dvw;
    overflow: hidden;
}

.skills-row.languages {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    position: relative;
}

.skills-row p {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
}

.skills-row.languages p {
    animation: scroll-left var(--scrollAnimationTime) linear infinite;
}
.skills-row.software p {
    animation: scroll-right var(--scrollAnimationTime) linear infinite;
}


@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(var(--langScrollWidth));
    }
}

@keyframes scroll-right {
  from {
    transform: translateX(var(--softScrollWidth));
  }
  to {
    transform: translateX(0);
  }
}