* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}

body,html {
    background-color: #efefef;
}

.table {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
}

.column {
    width: 25%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.card-container {
    width: 100%;
    height: auto;
    color: black;
}

@media (orientation: portrait) {
    .table {
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
}