:root {
    --bg-color: #FAF9EE;
    --navbar-margin: 2.5dvh;
    --navbar-bg-color: rgba(255,255,255,0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

.super_container {
    width: 100dvw;
    height: 100dvh;
}
.navbar {
    background-color: var(--navbar-bg-color);
    backdrop-filter: blur(20px);
    /* emboss */
    box-shadow:
     -1px -1px 20px 0px rgba(0, 0, 0, 0.23),
     1px 1px 24px 0px rgba(125, 125, 125, 0.2);

    position: fixed;
    left: 0;
    top: var(--navbar-margin);
    left: var(--navbar-margin);
    height: calc(100dvh - (var(--navbar-margin) * 2.0));
    width: auto;
    border-radius: calc(var(--navbar-margin) * 1.5);
    padding: 1rem;

    display: flex;
    flex-direction: column;
}
.navbar_link {
    font-size: 1.0rem;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 1rem;

    color: black;
    text-decoration: none;

    transition: all .5s ease-in-out;
}
.navbar_link:hover {
    font-size: 1.1rem;
    margin-bottom: 0.85rem;
}
.content {
    width: 85dvw;
    margin-left: 15dvw;

    padding: 0 5dvw;
}

.main_title {
    text-align: center;
    font-size: 4rem;
    margin: 1rem;
}