:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.bg_image {
    position: absolute;
    width: 100dvw;
}

.nav_container {
    position: fixed;

    width: 80dvw;
    height: 80px;
    bottom: 40px;

    left: 50%;
    transform: translateX(-50%);

    /* background-color: red; */
}

.navbar {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    /* background-color: red; */
}

/* 
    This is the section that handles the liquid glass
    This is the tutorial I followed:
    https://www.youtube.com/watch?v=Cv8zFvM8fEk
*/
.liquid_glass {
    filter: drop-shadow(-8px -10px 46px #00005f);

    -webkit-box-shadow: inset -3px -3px 4px -2px rgba(0,0,0,0.2), inset 3px 3px 4px -2px rgba(255,255,255,.2);
    box-shadow: inset -3px -3px 4px -2px rgba(0,0,0,0.2), inset 3px 3px 4px -2px rgba(255,255,255,.2);

    background-color: rgba(255, 255, 255, 0.1);

    background-clip: padding-box;
}

.has_displacement {
    backdrop-filter:
        blur(3px)
        url(#displacementFilter);
}
.no_displacement {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    /* Secret invisible drop shadow to please the Apple overlords and make it look at least halfway right */
    -webkit-filter: drop-shadow(0 0 0 rgba(0,0,0,0));
    filter: drop-shadow(0 0 0 rgba(0,0,0,0));
}