:root {
    --download-button-bg-color-dark: #0c5f5b;
    --download-button-bg-color-hover-dark: #117c77;
    --download-button-text-color-dark: #fff;
    --download-button-bg-color-light: #0a524f;
    --download-button-bg-color-hover-light: #176561;
    --download-button-text-color-light: #fff;

    --card-height: 20rem;
    
    --bg-color-light: #93d2ce;
    --bg-color-dark: #011716;

    --card-color-light: #226f68;
    --card-color-dark:#053c39;

    --text-color-dark:#fff;
    --text-color-light: #fbfbfb;

    color-scheme: light dark;
}

.vertical .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 100%;
}
.vertical .text-content {
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}
.vertical .thumbnail {
    height: 90%;
    border-radius: 10px;
    margin-right: 5%;
}
.vertical .title {
    font-size: 4rem;
}
.vertical .desc {
    font-size: 1.5rem;
}

.horizontal .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 100%;
}
.horizontal .text-content {
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}
.horizontal .thumbnail {
    height: 80%;
    border-radius: 10px;
    margin-right: 5%;
}
.horizontal .title {
    font-size: 3rem;
}
.horizontal .desc {
    font-size: 1.5rem;
}

@media (orientation: landscape) {
    .row {
        flex-direction: row;
    }
  }
  
  @media (orientation: portrait) {
    .row {
        flex-direction: column;
    }
    .card {
        height: auto;
        margin-top: 5%;
    }
    .vertical .content {
        flex-direction: column;
    }
    .vertical .thumbnail {
        width: 80%;
        margin-right: 0;
    }
    .horizontal .content {
        flex-direction: column;
    }
    .horizontal .thumbnail {
        width: 80%;
        margin-right: 0;
    }
  }